<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pixeleb.be</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pixelebbe.css') }}">
    {% block head %}{% endblock head %}
</head>
<body>
    <p>
        <a href="{{ url_for('admin.index') }}">index</a> &middot;
        <a href="{{ url_for('admin.events') }}">events</a> &middot;
        <a href="{{ url_for('admin.api_keys') }}">api key</a> &middot;
        <a href="{{ url_for('index') }}" target="_blank">back to frontend</a> &middot;
        <a href="{{ url_for('security.logout') }}">log out</a>
    </p>
    <hr>
    {% block body %}{% endblock body %}
</body>
</html>