<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pixeleb.be</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pixelebbe.css') }}">
    {% block head %}{% endblock head %}
</head>
<body>
    <a href="{{ url_for('admin.index') }}" class="admin-link">admin</a>
    {% block body %}{% endblock body %}
    {% if not hide_footer %}
    <hr>
    <p><a href="/datenschutz/informationen-im-zusammenhang-mit-der-allgemeinen-verwendung-dieser-webseite.docx">privacy policy</a></p>
    {% endif %}
</body>
</html>