<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pixeleb.be</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pixelebbe.css') }}">
    <noscript><meta http-equiv="refresh" content="{{ refresh_rate // 1000 or 1 }}"></noscript>
    <script src="{{ url_for('static', filename='graceful-refresh.js') }}" defer></script>
</head>
<body class="beamer {{ 'is-msedge' if 'msedge' in request.values }}">
    {% block body %}{% endblock body %}
</body>
</html>