{% extends "layouts/backend.html" %}
{% block body %}
    <h1>users</h1>

    <h2>active users</h2>

    <ul>
        {% for user in users.filter_by(active=True).all() %}
            <li>
                <strong>{{ user.username }}</strong> &middot;
                {{ user.role_text() }} &middot;
                <a href="">change roles</a> &middot;
                <a href="">set/reset password</a> &middot;
                <a href="">demote to api user</a> &middot;
                <a href="">deactivate</a>
            </li>
        {% endfor %}
    </ul>

    <h2>api users</h2>

    <p><a href="{{ url_for('admin.new_api_user') }}">create new api user</a></p>

    <ul>
        {% for user in users.filter_by(active=False).all() if user.has_role('api') %}
            <li>
                <strong>{{ user.username }}</strong> &middot;
                <a href="">promote to active user</a> &middot;
                <a href="">deactivate</a>
            </li>
        {% endfor %}
    </ul>

    <h2>inactive users</h2>

    <p><a href="">create new user</a></p>

    <ul>
        {% for user in users.filter_by(active=False).all() if not user.has_role('api') %}
            <li>
                <strong>{{ user.username }}</strong> &middot;
                <a href="">activate as active user</a> &middot;
                <a href="">activate as api user</a> &middot;
            </li>
        {% endfor %}
    </ul>
{% endblock %}