{% extends "layouts/frontend.html" %}
{% block body %}
    <h1>privacy policy for pixeleb.be</h1>

    <h2>who are we</h2>

    <p>we are two very silly people (9hax and luap42), you can reach us via Mastodon (<a href="https://chaos.social/@9hax">@9hax@chaos.social</a> and <a href="https://chaos.social/@luap42">@luap42@chaos.social</a>, respectively) or via DECT (numbers tba).</p>

    <h2>what are we doing and why?</h2>

    <p>that's kinda one of the big question in life, innit?</p>

    <h2>no, dumbass, i mean like data protection-wise</h2>

    <p>ah sorry, yeah we are providing this pixeleb.be service, which allows our <s>victims</s>loyal customers to submit us with pixel information which we then put on a fancy canvas</p>

    <p>to do this we might process some personal data:</p>

    <ul>
        <li>if you use this website we'll have to process your ip address for boring technical stuff</li>
        <li>if you contact us via the automatic DECT service or via fax, we'll have to process the phone call/fax message including your DECT number</li>
        <li>if you submit us a pixel (via whatever service), we might store your name or DECT number or whatever contact information we have so that we can do fancy statistics afterwards</li>
    </ul>

    <p>the purpose of all of this processing is "fun, giggles and glory" (yes we asked a person proficient in data protection law and they said that that should be enough)</p>

    <p>if you believe that law is doing some magic incantations and getting out of jail for free, the magic phrase you'll probably expect to hear right now is "the legal basis is Art. 6 (1) (1) (f) GDPR" (the same data protection fella told us that it was better to include that magic incantation for some reason, lawyers as a group generally probably just lack sufficient silliness)</p>

    <h2>how long are you going to store this data?</h2>

    <p>we only really keep your contact info for the pixel source but we delete that a few weeks after the event when we tortured the data sufficiently and managed to make all the fancy statistics</p>

    <h2>do I have a right to access all personal data you store about me, to request rectification and in some circumstances deletion or restriction of such data or to object to the processing in case of an overriding personal interest?</h2>

    <p>yes, but it would be very mean of you if you did that D:</p>

    <h2>would you be very sad if I complained about you with the Berlin (or any other) data protection authority?</h2>

    <p>yes, but unfortunately from like a legal position there wouldn't be anything we could do</p>

    <h2>any further questions?</h2>

    <p>sounds like a skill issue, tbh</p>

{% endblock %}